<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="DBIP" value="http://172.16.182.129/"/> 
    <add key="username" value="Terminal1"/>
    <add key="password" value="password"/>
    <add key="USBReader" value="true"/>
    <add key="PN532Reader" value="false"/>
    <add key="DBName" value="test"/>
  </appSettings>
</configuration>